

@model StudentManagementApp1.Models.Course


<h1> Add COurse</h1>
<form action="Create" method="post">

	<label>COurseName</label>
	<input  asp-for="CourseName" type="text"/>

	<button type="submit"> add</button>

</form>