@model StudentManagementApp1.Models.Student

<h1>Student Add</h1>
<form action="Create" method="post">


	<label>Name</label>
	<input asp-for="Name" type="text" />

	<label>Email</label>
	<input asp-for="Email" type="text" />

	<label asp-for="CourseId" class="control-label"></label>
	<select asp-for="CourseId" class="form-control" asp-items="ViewBag.Courses">
		<option>Select__</option>
	</select>

	<button type="submit">Add</button>
	</form>
