@model List<StudentManagementApp1.Models.Student>;

<h1 class="mb-4">Student List</h1>

<a asp-action="Create" class="btn btn-primary mb-3">➕ Add Student</a>
@{
    int tmp = 0;
}
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@(++tmp)</td>
                <td>@s.Name</td>
                <td>@s.Email</td>
            </tr>
        }
    </tbody>
</table>